{{#> layouts/default page='Home'}}

<section class="u-bgcolor-white u-color-black u-pv3">
    <div class="o-container o-stack">
        <h3 class="o-type-h1">CONTENTs MY PRECIOUS LONG TITLE</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Neckertal_20150527-6384.jpg" alt="">
        <div class="o-grid o-grid--around">
            <p class="o-type-base u-3/6 o-grid__col">
                Lorem ipsum, dolor sit consectetur adipisicing elit. Ea nobis iure vitae, error sit
                voluptates provident rem sint veritatis maiores quos, libero perferendis. Unde reprehenderit aperiam
                quae voluptates, sequi, porro dolorem eum neque ipsum nam tempora. Nesciunt accusantium officiis
                inventore quisquam iste, consectetur corrupti, temporibus ipsum necessitatibus consequatur ea facilis.
            </p>
            <p class="o-type-base u-1/6 o-grid__col">
                Lorem ipsum, dolor sit consectetur adipisicing elit.
            </p>
        </div>
    </div>
</section>

{{/layouts/default}}