{{!-- COUNTER BLOCK --}}
<div class="c-counter js-counter {{class}}">
    <button class="c-counter__less">-</button>
    <input type="number" class="c-counter__input" value="0">
    <button class="c-counter__more">+</button>
</div>