<div class="o-media o-media--middle o-media--g1">
    <div class="o-media__fixed">
        <img src="../../../assets/icons/basket-icon-red.svg" class="{{iconClass}}" alt="">
    </div>
    <div class="o-media__fluid u-pr3">{{> @partial-block}}</div>
</div>