<div class="o-media o-media--middle o-media--g1">
    <div class="o-media__fixed">
        <img src="{{iconSrc}}" class="{{iconClass}}" alt="">
    </div>
    <div class="o-media__fluid u-pr3">{{> @partial-block}}</div>
</div>