<div class="c-price-tag">
    {{#if discounted}}
    <p class="c-price-tag__original-tag">
        $<span class="c-price-tag__fraction">257</span><span class="c-price-tag__cents">23</span>
    </p>
    {{/if}}
    <p class="c-price-tag__tag">
        $<span class="c-price-tag__fraction">258</span><span class="c-price-tag__cents">23</span>
    </p>
</div>