<div class="slider js-slider">
	<button type="button" class="slider__prev"></button>
	<div class="slider__visor">
		<div class="slider__slides-container">
			<div class="slider__slide">
				<img class="bg-image" src="../../../assets/bg-images/slider-1-bg-image.jpg" alt="">
			</div>
			<div class="slider__slide">
				<img class="bg-image" src="../../../assets/bg-images/slider-2-bg-image.jpg" alt="">
			</div>
		</div>
	</div>
	<button type="button" class="slider__next"></button>
</div>