
/**
 * Allows you to change the default type name from .o-type-.
 * 
 * Type: String
 */

$iota-objs-type-namespace: 'type-';


/**
 * Allows you to specify typography sizes.
 *
 * Type: Map
 */
$modularscale: (
    base: 16px,
    ratio: 1.125,
    md: (
        base: 18px,
        ratio: 1.3333
    )
);


$iota-objs-type-sizes: (
    base: (
        null: type_size_and_line_height(ms(0)),
        md: type_size_and_line_height(ms(0, $thread: md)),
    ),
    h1: (
        null: type_size_and_line_height(ms(4), 1),
        md: type_size_and_line_height(ms(4, $thread: md), 1),
    ),
    h2: (
        null: type_size_and_line_height(ms(3), 1.1),
        md: type_size_and_line_height(ms(3, $thread: md), 1),
    ),
    h3: (
        null: type_size_and_line_height(ms(2), 1.3),
        md: type_size_and_line_height(ms(2, $thread: md), 1.2),
    ),
    h4: (
        null: type_size_and_line_height(ms(1), 1.4),
        md: type_size_and_line_height(ms(1, $thread: md), 1.3),
    ),
);


@import 'node_modules/iotacss/objects/type';
