<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LNB_FRONT: {{page}} </title>
</head>

<body class="">

    <header class="u-bgcolor-primary u-color-white u-pv1">
        <div class="o-container">
            <h1 class="o-type-h3">LNB_FRONT</h1>
            <h2 class="o-type-h4">{{page}}</h2>
        </div>
    </header>

    {{> @partial-block}}
</body>

</html>