@function type_calculate_line_height($font-size, $min: 1.5) {
    $multiplier: ceil($font-size / $baseline);
    $lh-ratio: $baseline * $multiplier / $font-size;
    
    @while ($lh-ratio < $min) {
        $multiplier: $multiplier + 1;
        $lh-ratio: $baseline * $multiplier / $font-size;
    }

    $lh: $baseline * $multiplier;
    
    @return $lh;
}

@function type_size_and_line_height($font-size, $min-lh: 1.5) {
    $lh: type_calculate_line_height($font-size, $min-lh);
    
    @return ( $font-size, $lh );
}

